body {
    font-family: 'Fira Sans', sans-serif !important;
}

.v-application .text-h5 {
    font-family: 'Fira Sans', sans-serif !important;
}


.v-application .text-h6 {
    font-family: 'Fira Sans', sans-serif !important;
}

.v-application .text-overline{
    line-height: 130%;
}


.v-row {
    margin: 0 !important;
    padding: 0;
}

.v-overlay .v-list {
    padding: 0 !important;
}

.v-overlay .v-list-item {
    padding: 6px !important;
}
