body {
  font-family: 'Fira Sans', sans-serif !important;
}

.v-application .text-h6, .v-application .text-h5, .v-application .text-h4, .v-application .text-h3, .v-application .text-h2 {
  font-family: 'Fira Sans', sans-serif !important;
}

.v-application .text-subtitle-1 {
  font-family: 'Fira Sans', sans-serif !important;
}

.v-application .text-subtitle-2 {
  font-family: 'Fira Sans', sans-serif !important;
}


.v-application .text-overline {
  line-height: 130%;
}


.v-row {
  margin: 0 !important;
  padding: 0;
}

.v-overlay .v-list {
  padding: 0 !important;
}

.v-overlay .v-list-item {
  padding: 6px !important;
}
